<!DOCTYPE html>
<html lang="en" data-theme="auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>YesOnIt! Access Manager</title>
    <meta name="description" content="YesOnIt - Tool Content Development">
    <meta name="keywords" content="YesOnIt, YesOnIt, YesOnIt, YesOnIt, Tool Content Development, Tool Access Management">
    <meta name="author" content="JosephSabana">
    <meta property="og:image" content="img/cover.png">
    <meta property="og:title" content="YesOnIt">
    <meta property="og:description" content="YesOnIt - Tool Content Development">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">
    <link href="/css/new-styles.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
  </head>
  <body>
    <div class="main-con">
    <%- include('partials/header') %>
    <div>
      <section class="section container">
        <!--Content-->
        <div class="container-form">
          <h1 class="heading">Add New User</h1>
          <!-- main content card -->
          <% if (error) { %>
          <div style="color: red; font-weight: bold;"><%= error %></div>
          <% } %>
          <% if (success) { %>
          <div style="color: green; font-weight: bold;"><%= success %></div>
          <% } %>
          <form action="/create-user" method="POST" class="contentRequestForm">
            <div class="div-content-group">
                <label for="name">Name</label>
              <input type="text" name="name" required >
             
            </div>
            <div class="div-content-group">
                 <label for="email">Email Address</label>
              <input type="email" name="email" required >
            
            </div>
            <div class="div-content-group">
                  <label for="password">Password</label>
              <input type="password" name="password" required >
           
            </div>
            <div class="div-content-group">
  
  <label for="department">Department</label>
  <select class="form-control" name="department" id="department" required>
    <option value="">Select Department</option>
    <% departments.forEach(dep => { %>
      <option value="<%= dep.name %>"><%= dep.name %></option>
    <% }) %>
  </select>

               




              
            </div>
            <div class="div-content-group">
                     <label for="accesslevel">Access Label</label>
              <select name="accessLevel" required>
                <option value="">Select Access Level</option>
                <option value="Level 1">Level 1</option>
                <option value="Level 2">Level 2</option>
                <option value="Level 3">Level 3</option>
                <option value="Level 4">Level 4</option>
                <option value="Level 5">Level 5</option>
                <option value="Blocked">Blocked</option>
              </select>
            </div>
            <div align="center" class="spacer-100">
              <div class="spacer-100"></div>
              <button class="btn cancel" onclick="location.href='/home';">Go Back</button> <button class="btn submit" type="submit">Add User</button>
            </div>
          </form>
          <!--End of Content-->
         </div>
      </section>
     <%- include('partials/footer') %>
   
    </div>      
    </div>

    <script src="/js/theme.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
  </html