<!DOCTYPE html>
<html lang="en" data-theme="auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>YesOnIt! Access Manager</title>
    <meta name="description" content="YesOnIt - Tool Content Development">
    <meta name="keywords" content="YesOnIt, YesOnIt, YesOnIt, YesOnIt, Tool Content Development, Tool Access Management">
    <meta name="author" content="JosephSabana">
    <meta property="og:image" content="img/cover.png">
    <meta property="og:title" content="YesOnIt">
    <meta property="og:description" content="YesOnIt - Tool Content Development">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">
    <link href="/css/new-styles.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
	
</head>
   <body>
    <div class="main-con">

<%- include('partials/header') %>

<div style="height: 150vh!important;">
 <section class="section container">

<div class="container-form">
  <h1 class="heading">Edit Tool Access Request</h1>

  <form action="/requests/update/<%= request._id %>" method="POST" id="updateRequestForm">



    <div class="div-content-group ">
                  <label>Tool Access:</label>
                  <select class="select-dropdown" name="toolName" required>
                     <% tools.forEach(tool => { %>
                     <option value="<%= tool.toolName %>"><%= tool.toolName %></option>
                     <% }); %>
                  </select>
               </div>

   <div class="div-content-group">
      <label>Justification</label>
      <textarea class="text-a"  name="justification" rows="3" required><%= request.justification %></textarea>
    </div>

    <div class="div-content-group">
      <label>Approver Email</label>
      <input type="email" name="approverEmail" value="<%= request.approverEmail %>" required>
    </div>



    



  </form>

   <div align="center" class="spacer-100"> 
      <div class="spacer-100"></div> 
      <button class="btn cancel" form="updateRequestForm" onclick="location.href='/home';">Go Back</button>  <button class="btn submit"  type="submit">Update</button>
  </div>

</div>




</section>

</div>
  <%- include('partials/footer') %>
</div>
    <script src="/js/theme.js"></script>
     <script src="/js/scripts.js"></script>
  
</body>
</html>